<link rel="stylesheet" href="/css/account/login.css">
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
<ul class="notice">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <%  }) %>
</ul>
<% } %>

<div class="loginForm">

  <p>All inputs are required</p>
  <form id="loginForm" action="/account/login" method="post">
    <label for="account_email">Email:</label>
    <input type="email" id="accountEmail" name="account_email" required value="<%= locals.account_email%>">
    <label for="account_password">Password:</label>
    <div class="passwordRequirements">
      <p>Your password must contain:</p>
      <p>1 capital letter, 1 number, and 1 special character, minimum 12 characters</p>
    </div>
    <input type="password" id="accountPassword" name="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
    <input type="submit" value="Login">
  </form>
  <p>No account? <a href="/account/register">Sign-up</a></p>
</div>