<div class="cta">
  <h2>DMC Delorean</h2>
  <ul>
    <li><%=vehicle.features[0]%></li>
    <li><%=vehicle.features[1]%></li>
    <li><%=vehicle.features[2]%></li>
  </ul>
  <button>Own Today</button>
</div>