<div class="upgrades">
  <h2 class="upgradesHeading">Delorian Upgrades</h2>
  <div class="upgradesContainer">
    <%- include("./upgrade.ejs", {upgrade: vehicle.upgrades[0]})%>
    <%- include("./upgrade.ejs", {upgrade: vehicle.upgrades[1]})%>
    <%- include("./upgrade.ejs", {upgrade: vehicle.upgrades[2]})%>
    <%- include("./upgrade.ejs", {upgrade: vehicle.upgrades[3]})%>
  </div>
</div>