.vehicleDetail {
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.vehicleDetail img {
   width: 100%;
   padding: 5%;
}

.vehicleDetailInfo {
   padding: 2%;
}


.vehicleReviews {
   background-color: lightblue;
}

.vehicleReviews h2 {
   background-color: antiquewhite;
}

.reviewList {
   display: flex;
   flex-direction: column;
}
